<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   
    </head>
    <body>
        <div class="container mt-4 col-lg-6">
            <div class="card border-dark"> 
                <div class="card-body bg-dark text-white">
                    <br/>  
                    <form action="#" th:action="@{/save}" th:object="${automobile}" method="post"> 
                        <label for="id" style="font-family: cursive">Código</label>
                        <input type="text" class="form-control" id="id" th:field="*{id}" name="id">                       
                        <label for="brand_id" style="font-family: cursive">Marca</label>
                        <input type="text" class="form-control" id="brand_id" th:field="*{brand_id}" name="brand_id">
                        <label for="name" style="font-family: cursive">Automobile</label>
                        <input type="text" class="form-control" id="license_plate" th:field="*{license_plate}" name="license_plate">
                        <label for="line" style="font-family: cursive">Precio</label>
                        <input type="text" class="form-control" id="line" th:field="*{line}" name="line">
                        <label for="stock" style="font-family: cursive">Stock</label>
                        <input type="text" class="form-control" id="stock" th:field="*{stock}" name="stock">
                        <label for="status" style="font-family: cursive">status</label>
                        <input type="text" class="form-control" id="status" th:field="*{status}" name="status">
                        <br/> 
                        <button type="submit" class="btn btn-outline-success" style="font-family: cursive">Editar</button>
                    </form> 
                </div>
            </div>     
        </div>
    </body>
</html>
