<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2>Add User</h2>
		<form action="#" th:action="@{/home/save}" th:object="${user}"
			method="post">
			<div class="form-group">
				<label for="name">Nombre</label> <input type="text"
					class="form-control" id="name" th:field="*{name}" name="name">
			</div>
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="name">Email</label> <input type="text"
					class="form-control" id="email" th:field="*{email}"
					name="email">
			</div>

			<div class="form-group">
				<label for="name">Dirección</label> <input type="text"
					class="form-control" id="address" th:field="*{address}"
					name="address">
			</div>

			<div class="form-group">
				<label for="name">Teléfono</label> <input type="text"
					class="form-control" id="phone" th:field="*{phone}"
					name="phone">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>