<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Save</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>   
    </head>
    <body>
        <div class="card-header bg-dark text-white">
            <h3 style="font-family: cursive">Nuevo Producto</h3>
        </div>
        <br/> 
        <div class="container mt-4 col-lg-6">
            <div class="card border-dark"> 
                <div class="card-body bg-dark text-white">
                    <br/>  
                    <form action="#" th:action="@{/save}" th:object="${product}" method="post">  
                        <label for="category_id"  style="font-family: cursive">Categoria</label>
                        <input type="text" class="form-control" id="category_id" th:field="*{category_id}" name="category_id">
                        <label for="name"  style="font-family: cursive">Producto</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" name="name">
                        <label for="price"  style="font-family: cursive">Precio</label>
                        <input type="text" class="form-control" id="price" th:field="*{price}" name="price">
                        <label for="stock"  style="font-family: cursive">Stock</label>
                        <input type="text" class="form-control" id="stock" th:field="*{stock}" name="stock">
                        <label for="status"  style="font-family: cursive">Status</label>
                        <input type="text" class="form-control" id="status" th:field="*{status}" name="status">
                        <br/> 
                        <button type="submit" class="btn btn-outline-success" style="font-family: cursive">Save</button>
                    </form> 
                </div>
            </div>     
        </div>
    </body>
</html>
